<extend name="Public:base" />
<block name="main">
    <h1>
        <a href="{:U('index')}" class="btn btn-right btn-add-goods">管理员列表</a>
        <span class="action-span1"><a href="{:U('Index/main')}">EBUY 管理中心</a> </span>
        <span id="search_id" class="action-span1"> > 添加管理员 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="tab-div">

        <!-- tab body -->
        <div id="tabbody-div">
            <form enctype="multipart/form-data" action="" method="post" name="theForm">
                <table width="90%" id="general-table" align="center" class="gk-table">
                    <tr>
                        <td class="label">用户名：</td>
                        <td>
                            <input type="text" name="admin_name" value="" style="float:left;" size="20" />
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">密码：</td>
                        <td>
                            <input type="password" name="password" value="" style="float:left;" size="20" />
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">邮箱：</td>
                        <td>
                            <input type="text" name="email" value="" style="float:left;" size="20"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">所属角色：</td>
                        <td>
                            <select name="role_id" style="width:165px;">
                                <option value="0">请选择...</option>
                                <volist name="roleInfos" id="roleInfo">
                                    <option value="{$roleInfo.role_id}">{$roleInfo.role_name}</option>
                                </volist>
                            </select>
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">排序:</td>
                        <td>
                            <input type="text" name='sort_order'  value="" size="20" />
                        </td>
                    </tr>
                </table>

                <div class="button-div">
                    <input type="submit" value=" 确定 " class="button" />
                    <input type="reset" value=" 重置 " class="button" />
                </div>
            </form>
        </div>
    </div>

</block>

<block name="js">
    <script>

    </script>
</block>