<extend name="Public:base" />
<block name="main">
    <h1>
        <a href="{:U('index')}" class="btn btn-right btn-add-goods">角色列表</a>
        <span class="action-span1"><a href="{:U('Index/main')}">EBUY 管理中心</a> </span>
        <span id="search_id" class="action-span1"> > 编辑角色 </span>
        <div style="clear:both"></div>
    </h1>

    <div class="tab-div">
        <!-- tab body -->
        <div id="tabbody-div">
            <form action="" method="post" name="theForm">
                <input type="hidden" name="role_id" value="{$roleInfo.role_id}">
                <table width="90%" id="general-table" align="center" class="gk-table">
                    <tr>
                        <td class="label">角色名称：</td>
                        <td>
                            <input type="text" name="role_name" value="{$roleInfo.role_name}" style="float:left;" size="30" />
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">角色描述：</td>
                        <td>
                            <textarea name="role_describe" cols="32" rows="6">{$roleInfo.role_describe}</textarea>
                        </td>
                    </tr>
                </table>
                <!--权限指派给角色-->
                <table cellspacing='1' id="list-table">
                    <volist name="accessLists" id="accessList">
                        <tr>
                            <td width="18%" valign="top" class="first-cell">
                                <input name="access_ids[]" type="checkbox" value="{$accessList.access_id}"
                                       onclick="" class="checkbox"<php>if(in_array($accessList['access_id'],$access_ids)) echo 'checked';</php> >{$accessList.access_name}
                            </td>
                            <td>
                                <volist name="accessList.subAccess" id="subAccess">
                                    <div style="width:200px;float:left;">
                                            <input type="checkbox" name="access_ids[]" value="{$subAccess.access_id}" class="checkbox" title="{$subAccess.access_name}"
                                        <php>if(in_array($subAccess['access_id'],$access_ids)) echo 'checked';</php> />{$subAccess.access_name}
                                    </div>
                                </volist>
                            </td>
                        </tr>
                    </volist>
                </table>

                <div class="button-div">
                    <input type="submit" value=" 确定 " class="button" />
                    <input type="reset" value=" 重置 " class="button" />
                </div>
            </form>
        </div>
    </div>
</block>
<block name="js">
    <script>
    </script>
</block>