<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC_BACKSTAGE__/styles/general.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC_BACKSTAGE__/styles/nav.css" rel="stylesheet" type="text/css"/>
</head>
<body class="nav">
<div class="menu">
    <div id="logo-div">
        <a href="{:U('Index/index')}"><img width="87" class="logo" src="__PUBLIC_BACKSTAGE__/images/ecshop_logo@2x.png" /></a>
        <a href="#" class="noauthorize"><img src="__PUBLIC_BACKSTAGE__/images/authorizegk.png" class="icon" width="12">授权用户</a>
    </div>
    <div id="main-div">
        <div id="menu-list">
            <ul class="menu" id="menu-ul">
                <volist name="menus" id="vo">
                <eq name="vo.parent_id" value="0">
                <li class="icon-content" data-url="{:U($vo['access_mode'].'/'.$vo['access_controller'].'/'.$vo['access_action'])}" data-key="good-index" onclick="showsub(this)">
                    {$vo.access_name}
                    <div class="submenu">
                        <div class="title">{$vo.access_name}</div>
                        <ul>
                            <volist name="menus" id="v">
                                <eq name="v.parent_id" value="$vo.access_id">
                            <li class="menu-item" onclick="showact(this, event)"><a href="{:U($v['access_mode'].'/'.$v['access_controller'].'/'.$v['access_action'])}" target="main-frame">{$v.access_name}</a></li>
                                </eq>
                            </volist>
                        </ul>
                    </div>
                </li>
                </eq>
                </volist>
            </ul>
        </div>
    </div>
    <div id="foot-div" onmouseover="showBar(this)" onmouseout="hideBar(this)">
        <a href="#">{$Think.session.adminInfo.admin_name}</a>
        <div class="panel-hint">
            <ul>
                <li>
                    <a href="{:U('clear_cache')}" target="main-frame" class="fix-submenu">清除缓存</a>
                </li>
                <li class="btn-exit">
                    <a href="{:U('Login/logout')}" target="_top" class="fix-submenu">退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script language="JavaScript">
    function showBar(item){
        var silb = item.lastElementChild;
        silb.style.display = "block";
    }
    function hideBar(item){
        var silb = item.lastElementChild;
        silb.style.display = "none";
    }
    function showsub(el) {
        var act = el.parentNode.getElementsByClassName('active');
        var url = el.getAttribute('data-url') || '';
        var key = el.getAttribute('data-key') || '';

        if (act.length) {
            Array.prototype.slice.call(act).forEach(function(el) {
                el.className = el.className.replace(/\sactive\b/i, '');
            });
        }
        el.className = el.className + ' active';
        top.document.getElementById('frame-body').cols = '240,*';
        if (url) {
            top.document.getElementById('main-frame').src=url;
            document.getElementById(key).className = 'menu-item active';
        }
    }
    function showact(el, e) {
        e.stopPropagation();
        var act = el.parentNode.getElementsByClassName('active');
        if (act.length) {
            Array.prototype.slice.call(act).forEach(function(el) {
                el.className = el.className.replace(/\sactive\b/i, '');
            });
        }
        el.className = el.className + ' active';
    }
</script>

</body>
</html>