<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC_BACKSTAGE__/styles/general.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC_BACKSTAGE__/styles/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC_BACKSTAGE__/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC_BACKSTAGE__/js/transport.js"></script>
    <script type="text/javascript" src="__PUBLIC_BACKSTAGE__/js/utils.js"></script>
    <style>
        .panel-icloud .panel-right iframe {
            height: 300px;
            margin-top: 15px;
        }
        .panel-hint{
            top: 0%;
        }
    </style>
    <script>
        // 这里把JS用到的所有语言都赋值到这里
        var process_request = "正在处理您的请求...";
        var todolist_caption = "记事本";
        var todolist_autosave = "自动保存";
        var todolist_save = "保存";
        var todolist_clear = "清除";
        var todolist_confirm_save = "是否将更改保存到记事本？";
        var todolist_confirm_clear = "是否清空内容？";
        var expand_all = "展开";
        var collapse_all = "闭合";
        var shop_name_not_null = "商店名称不能为空";
        var good_name_not_null = "商品名称不能为空";
        var good_category_not_null = "商品分类不能为空";
        var good_number_not_number = "商品数量不是数值";
        var good_price_not_number = "商品价格不是数值";

        /*关闭按钮*/
        function btnCancel(item){
            var par  = item.offsetParent;
            var mask  = document.getElementById('CMask')||null;
            var frame = document.getElementById('CFrame');
            par.style.display = 'none';
            if(mask){mask.style.display = 'none';}
            frame.src = '';
        }
    </script>
</head>
<body>
<!--{if !$certi.certificate_id}
&lt;!&ndash;云起激活系统面板&ndash;&gt;
<div class="panel-hint panel-icloud" id="panelCloud">
    <div class="panel-cross"><span onclick="btnCancel(this)">Ｘ</span></div>
    <div class="panel-title">
        <span class="tit">您需要激活系统</span>
        <p>用云起账号激活您的系统，享受物流查询，天工收银，手机短信等更多应用和服务</p>
    </div>
    <div class="panel-left">
        <span>没有云起账号吗？</span>
        <p>点击下列按钮一步完成注册激活！</p>
        <a href="https://account.shopex.cn/reg?refer=yunqi_ecshop" target="_blank" class="btn btn-yellow">免费注册云起账号</a>
    </div>
    <div class="panel-right">
        <h5 class="logo">云起</h5>
        <p>正在激活中</p>
        <iframe src="" frameborder="0" id="CFrame"></iframe>
        <div class="cloud-passw">
            <a target="_blank" href="https://account.shopex.cn/forget?">忘记密码？</a>
        </div>
    </div>
</div>
&lt;!&ndash;云起激活系统面板&ndash;&gt;
&lt;!&ndash;遮罩&ndash;&gt;
<div class="mask-black" id="CMask"></div>
&lt;!&ndash;遮罩&ndash;&gt;
{/if}-->


<block name="main"></block>

<script language="JavaScript">
    <!--

    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    };

    var imgPlus = new Image();
    imgPlus.src = "images/menu_plus.gif";

    /**
     * 折叠分类列表
     */
    function rowClicked(obj)
    {
        // 当前图像
        img = obj;
        // 取得上二级tr>td>img对象
        obj = obj.parentNode.parentNode;
        // 整个分类列表表格
        var tbl = document.getElementById("list-table");
        // 当前分类级别
        var lvl = parseInt(obj.className);
        // 是否找到元素
        var fnd = false;
        var sub_display = img.src.indexOf('menu_minus.gif') > 0 ? 'none' : (Browser.isIE) ? 'block' : 'table-row' ;
        // 遍历所有的分类
        for (i = 0; i < tbl.rows.length; i++)
        {
            var row = tbl.rows[i];
            if (row == obj)
            {
                // 找到当前行
                fnd = true;
                //document.getElementById('result').innerHTML += 'Find row at ' + i +"<br/>";
            }
            else
            {
                if (fnd == true)
                {
                    var cur = parseInt(row.className);
                    var icon = 'icon_' + row.id;
                    if (cur > lvl)
                    {
                        row.style.display = sub_display;
                        if (sub_display != 'none')
                        {
                            if(img.src.indexOf('menu_minus.gif') > 0){
                                var iconimg = document.getElementById(icon);
                                iconimg.src = iconimg.src.replace('plus.gif', 'minus.gif');
                            </br            }

                            }
                        }
                        else
                        {
                            fnd = false;
                            break;
                        }
                    }
                }
            }

            for (i = 0; i < obj.cells[0].childNodes.length; i++)
            {
                var imgObj = obj.cells[0].childNodes[i];
                if (imgObj.tagName == "IMG" && imgObj.src != 'images/menu_arrow.gif')
                {
                    imgObj.src = (imgObj.src == imgPlus.src) ? 'images/menu_minus.gif' : imgPlus.src;
                }
            }
        }
    //-->
</script>

<div id="footer">
    共执行 5 个查询，用时 0.024000 秒，Gzip 已禁用，内存占用 1.623 MB<br />
    版权所有 &copy; 2005-2019 上海商派软件有限公司，并保留所有权利。
</div>

<!-- 新订单提示信息 -->
<div id="popMsg">
    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#cfdef4" border="0">
        <tr>
            <td style="color: #0f2c8c" width="30" height="24"></td>
            <td style="font-weight: normal; color: #1f336b; padding-top: 4px;padding-left: 4px" valign="center" width="100%"> {$lang.order_notify}</td>
            <td style="padding-top: 2px;padding-right:2px" valign="center" align="right" width="19"><span title="关闭" style="cursor: hand;cursor:pointer;color:red;font-size:12px;font-weight:bold;margin-right:4px;" onclick="Message.close()" >×</span><!-- <img title=关闭 style="cursor: hand" onclick=closediv() hspace=3 src="msgclose.jpg"> --></td>
        </tr>
        <tr>
            <td style="padding-right: 1px; padding-bottom: 1px" colspan="3" height="70">
                <div id="popMsgContent">
                    <p>{$lang.new_order_1}<strong style="color:#ff0000" id="spanNewOrder">1</strong>{$lang.new_order_2}
                        <strong style="color:#ff0000" id="spanNewPaid">0</strong>{$lang.new_order_3}</p>
                    <p align="center" style="word-break:break-all"><a href="order.php?act=list"><span style="color:#ff0000">{$lang.new_order_link}</span></a></p>
                </div>
            </td>
        </tr>
    </table>
</div>

<script language="JavaScript">
    document.onmousemove=function(e)
        {
            var obj = Utils.srcElement(e);
            if (typeof(obj.onclick) == 'function' && obj.onclick.toString().indexOf('listTable.edit') != -1)
            {
                obj.title = '{$lang.span_edit_help}';
                obj.style.cssText = 'background-color: #eee;';
                obj.onmouseout = function(e)
                {
                    this.style.cssText = '';
                }
            }
            else if (typeof(obj.href) != 'undefined' && obj.href.indexOf('listTable.sort') != -1)
            {
                obj.title = '{$lang.href_sort_help}';
            }
        }
        <!--
            {if $enable_order_check eq '0'};
    startCheckOrder = function(){};
    {/if};
        {literal}

        var MyTodolist;
        function showTodoList(adminid)
        {
            if(!MyTodolist)
            {
                var global = $import("../js/global.js","js");
                global.onload = global.onreadystatechange= function()
                {
                    if(this.readyState && this.readyState=="loading")return;
                    var md5 = $import("js/md5.js","js");
                    md5.onload = md5.onreadystatechange= function()
                    {
                        if(this.readyState && this.readyState=="loading")return;
                        var todolist = $import("js/todolist.js","js");
                        todolist.onload = todolist.onreadystatechange = function()
                        {
                            if(this.readyState && this.readyState=="loading")return;
                            MyTodolist = new Todolist();
                            MyTodolist.show();
                        }
                    }
                }
            }
            else
            {
                if(MyTodolist.visibility)
                {
                    MyTodolist.hide();
                }
                else
                {
                    MyTodolist.show();
                }
            }
        }

        if (Browser.isIE)
        {
            onscroll = function()
            {
                //document.getElementById('calculator').style.top = document.body.scrollTop;
                document.getElementById('popMsg').style.top = (document.body.scrollTop + document.body.clientHeight - document.getElementById('popMsg').offsetHeight) + "px";
            }
        }

        if (document.getElementById("listDiv"))
        {
            document.getElementById("listDiv").onmouseover = function(e)
            {
                obj = Utils.srcElement(e);

                if (obj)
                {
                    if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
                    else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
                    else return;

                    for (i = 0; i < row.cells.length; i++)
                    {
                        if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#F4FAFB';
                    }
                }

            };

            document.getElementById("listDiv").onmouseout = function(e)
            {
                obj = Utils.srcElement(e);

                if (obj)
                {
                    if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
                    else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
                    else return;

                    for (i = 0; i < row.cells.length; i++)
                    {
                        if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#FFF';
                    }
                }
            };

            document.getElementById("listDiv").onclick = function(e)
            {
                var obj = Utils.srcElement(e);

                if (obj.tagName == "INPUT" && obj.type == "checkbox")
                {
                    if (!document.forms['listForm'])
                    {
                        return;
                    }
                    var nodes = document.forms['listForm'].elements;
                    var checked = false;

                    for (i = 0; i < nodes.length; i++)
                    {
                        if (nodes[i].checked)
                        {
                            checked = true;
                            break;
                        }
                    }

                    if(document.getElementById("btnSubmit"))
                    {
                        document.getElementById("btnSubmit").disabled = !checked;
                    }
                    for (i = 1; i <= 10; i++)
                    {
                        if (document.getElementById("btnSubmit" + i))
                        {
                            document.getElementById("btnSubmit" + i).disabled = !checked;
                        }
                    }
                }
            }

        }
        {/literal};
    //-->
</script>
</body>
</html>