<extend name="Public:base" />
<block name="main">
<h1>
    <a class="btn btn-right" href="{:U('Access/add')}">添加权限</a>
    <span class="action-span1"><a href="{:U('Index/index')}">后台管理中心</a> </span>
    <span id="search_id" class="action-span1">  > 权限列表 </span>
    <div style="clear:both"></div>
</h1>

<div class="list-div">
    <table cellspacing='1' id="list-table">
        <foreach name="accessInfos" item="vo">
            <tr>
                <td width="18%" valign="top" class="first-cell">{$vo.access_name}</td>
            <td>
                <foreach name="vo.subAccess" item="v">
                <div style="width:200px;float:left;"><label>>{$v.access_name}</label></div>
                </foreach>
            </td>
            </tr>
        </foreach>
    </table>
</div>
</block>
